In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from openpyxl import Workbook, load_workbook

In [ ]:
wb = load_workbook("meio_circulante_dados_abertos_1.xlsx")

In [ ]:
for sheet in wb:
  print(sheet)

NameError: ignored

In [ ]:
ws = wb["meio_circulante_dados_abertos.x"]

In [ ]:
ws['A1'] = "DATA"
ws['B1'] = "FAMÍLIA (ESPÉCIE)"
ws['C1'] = 'REAIS'
ws['D1'] = 'CENTAVOS'
ws['E1'] = 'TIRAGEM'

wb.save('meio_circulante_dados_abertos_1.xlsx')

In [ ]:
df = pd.read_excel("meio_circulante_dados_abertos_1.xlsx")

In [ ]:
df.head()

,DATA,FAMÍLIA (ESPÉCIE),REAIS,CENTAVOS,TIRAGEM,Unnamed: 5
0,02/01/1995,Moedas - 1a. Família (inox),0,1,834342314,0
1,02/01/1995,Moedas - 1a. Família (inox),0,5,636711876,0
2,02/01/1995,Moedas - 1a. Família (inox),0,10,583076666,0
3,02/01/1995,Moedas - 1a. Família (inox),0,25,146883388,0
4,02/01/1995,Moedas - 1a. Família (inox),0,50,329791540,0

In [ ]:
ws.delete_cols(6)
wb.save('meio_circulante_dados_abertos_1.xlsx')
df = pd.read_excel("meio_circulante_dados_abertos_1.xlsx")

In [ ]:
df.head()

         DATA            FAMÍLIA (ESPÉCIE)  REAIS  CENTAVOS    TIRAGEM
0  02/01/1995  Moedas - 1a. Família (inox)      0         1  834342314
1  02/01/1995  Moedas - 1a. Família (inox)      0         5  636711876
2  02/01/1995  Moedas - 1a. Família (inox)      0        10  583076666
3  02/01/1995  Moedas - 1a. Família (inox)      0        25  146883388
4  02/01/1995  Moedas - 1a. Família (inox)      0        50  329791540